# Application locale settings. Available values: en, de, es, ru
VITE_APP_LOCALE=en

# BPM engine connection configuration. Available types: CAMUNDA_7, OPERATON.
VITE_BPM_ENGINE_API_URL=http://localhost:8080/engine-rest
VITE_BPM_ENGINE_TYPE=CAMUNDA_7